@import url("https://fonts.googleapis.com/css2?family=Lato&family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #f8fafc;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
}

h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.8rem;
}
.container {
  max-width: 1100px;
  width: 90%;
  margin: 0 auto;
}
p {
  font-size: 1.2rem;
}
.amount {
  font-size: 1.8rem;
  font-weight: bold;
}

.home-section {
  padding: 2rem 0;
  text-align: center;
}

.budget-info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.info-card {
  background-color: #fff;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  color: #000;
  width: 30%;
  padding: 2rem;
  margin-bottom: 2rem;
}
.income {
  color: green;
}
.expense {
  color: rgb(223, 37, 37);
}
.amount {
  margin-top: 1rem;
}
.transaction-amount {
  margin-left: 1rem;
}
.navbar {
  background-color: #fff;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}

.name {
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-size: 1.2rem;
}

.user-image {
  width: 48px;
  max-width: 100%;
  border-radius: 50%;
  margin-right: 1rem;
}

.user {
  display: flex;
  justify-content: center;
  align-items: center;
}
.logout-btn {
  background: transparent;
  border: transparent;
  font-size: 1.2rem;
  text-transform: capitalize;
  letter-spacing: 0.1rem;
  color: #617d98;
  cursor: pointer;
}

.toggle {
  font-size: 2rem;
  margin-right: 1rem;
  cursor: pointer;
}

.sidebar {
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  padding: 0 1rem;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  z-index: 999;
  transition: all ease-in-out 0.3s;
  width: 25%;
}

.close {
  font-size: 2.5rem;
  text-align: right;
  position: absolute;
  top: 2%;
  right: 2%;
  cursor: pointer;
}

.sidebar-items {
  margin-top: 128px;
}
.sidebar-link {
  color: #000;
  font-size: 1.8rem;
  margin: 1rem 0;
}

.hide-sidebar {
  transform: translateX(-100%);
}

.transactions {
  height: 50vh;
  overflow-y: scroll;
  margin-top: 1rem;
}

.transaction {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 1rem auto;
  background-color: #fff;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding: 1rem;
  position: relative;
  cursor: pointer;
}

.color {
  position: absolute;
  width: 5px;
  height: 100%;
  right: 0;
  top: 0;
}

.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.hero-img {
  max-width: 100%;
  width: 300px;
  margin-bottom: 3rem;
}

.hero-title {
  font-size: 3rem;
}

.login-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  background-color: aliceblue;
  padding: 1em 2em;
  cursor: pointer;
  border: none;
  margin-top: 3rem;
  font-size: 1rem;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: #00000059;
  height: 100%;
  width: 100%;
  display: grid;
  align-content: center;
}

.modal {
  background-color: #fff;
  width: 30%;
  margin: 0 auto;
  padding: 1rem;
  border-radius: 10px;
  position: relative;
}

.modal-title {
  margin-top: 1.5rem;
}
.hide-modal {
  display: none;
}

.transaction-details {
  text-align: left;
  margin: 1rem 0;
  width: 90%;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  margin: 3rem auto;
}

.form-control {
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
}

input {
  padding: 1rem;
}

.btn {
  appearance: button;
  backface-visibility: hidden;
  background-color: #405cf5;
  border-radius: 6px;
  border-width: 0;
  box-shadow: rgba(50, 50, 93, 0.1) 0 0 0 1px inset,
    rgba(50, 50, 93, 0.1) 0 2px 5px 0, rgba(0, 0, 0, 0.07) 0 1px 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue",
    Ubuntu, sans-serif;
  font-size: 100%;
  height: 44px;
  line-height: 1.15;
  margin: 12px 0 0;
  outline: none;
  overflow: hidden;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-transform: none;
  transform: translateZ(0);
  transition: all 0.2s, box-shadow 0.08s ease-in;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
}

.button-9:disabled {
  cursor: default;
}

.button-9:focus {
  box-shadow: rgba(50, 50, 93, 0.1) 0 0 0 1px inset,
    rgba(50, 50, 93, 0.2) 0 6px 15px 0, rgba(0, 0, 0, 0.1) 0 2px 2px 0,
    rgba(50, 151, 211, 0.3) 0 0 0 4px;
}

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f4f4f4;
}

.loader {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #3498db;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 600px) {
  .sidebar {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .budget-info {
    flex-direction: column;
  }
  .info-card {
    width: 90%;
  }
  .form-container {
    width: 80%;
  }
  .modal {
    width: 80%;
  }
  .transaction {
    width: 95%;
  }
  .nav-container {
    padding: 1rem;
  }
  .name {
    font-size: 1rem;
  }
  .logout-btn {
    font-size: 1rem;
    margin-left: 1rem;
  }
  .user-image {
    width: 32px;
  }
  .hero-img {
    width: 300px;
    margin: 0 auto;
  }
  .hero-title {
    font-size: 3rem;
  }
  .budget-info {
    gap: 0;
  }
  p {
    font-size: 1rem;
    text-align: center;
  }
  h3 {
    font-size: 1.5rem;
    text-align: center;
  }
}

/* CSS */
